{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %}Sortir.com | Connexion{% endblock %}

{# CSS de la page #}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/index.css') }}" rel="stylesheet">
{% endblock %}

{# Body de la page #}
{% block body %}

    <!-- Section -->
    <section class="overflow-hidden background-login">

        <!-- CSS Twig -->
        <style>
            .background-login {
                height: 100vh;
                background: url({{ asset('img/fond/fond2.jpeg') }})
            }
        </style>

        <div class="py-5 px-md-5 text-lg-start flex-login">
            <div class="mb-5 mb-lg-0 position-relative">
                <div class="card bg-glass">
                    <div class="card-body px-4 px-md-5">

                        <!-- Logo du site web -->
                        <img src="{{ asset('img/logo/logo-sortircom.png') }}" width="250px" class="center"
                             alt="logo de sortir.com">

                        <!-- Formulaire de methode Post -->
                        <form method="post">

                            <!-- Nom de la page -->
                            <h2 class="center">Connexion</h2>

                            <!-- Alerte de connexion -->
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            <!-- Identifiant / Email -->
                            <div class="mb-3">
                                <label class="form-label" for="inputEmail">Identifiant / Email :</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                       class="form-control"
                                       autocomplete="email" required autofocus>
                            </div>

                            <!-- Mot de passe -->
                            <div class="mb-3">
                                <label class="form-label" for="inputPassword">Mot de passe :</label>
                                <input type="password" name="password" id="inputPassword" class="form-control"
                                       autocomplete="current-password"
                                       required>
                            </div>

                            <!-- Token de connexion -->
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <!-- Se souvenir de moi -->
                            <div class="checkbox mb-3">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" name="_remember_me" role="switch" id="flexSwitchCheckDefault">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">Se souvenir de moi</label>
                                </div>
                            </div>

                            <!-- Bouton de connexion -->
                            <button type="submit" class="btn btn-primary btn-block mb-4 center">
                                Connexion
                            </button>

                            <div class="mb-3 center">
                                <a href="{{ path('app_forgot_password_request') }}" class="center">Mot de passe oublié ?</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}