{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block header %}
    {% include 'module/navbar/navbar.html.twig' %}
{% endblock %}

{% block body %}

    <h2 class="center nav-color" style="margin-top: 15px">Les sorties</h2>
    <div class="row">
        <div class="col"></div>

        <div class="col-10">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">

                        </div>
                        <div class="col">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br />

            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div class="col">
                    <div class="card">
                        <img src="{{ asset('img/fond/fond.jpg') }}" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="{{ asset('img/fond/fond.jpg') }}" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="{{ asset('img/fond/fond.jpg') }}" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="{{ asset('img/fond/fond.jpg') }}" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="{{ asset('img/fond/fond.jpg') }}" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="{{ asset('img/fond/fond.jpg') }}" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="{{ asset('img/fond/fond.jpg') }}" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="{{ asset('img/fond/fond.jpg') }}" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>




{% endblock %}
