{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block header %}
    {% include 'module/navbar/navbar.html.twig' %}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col">
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-4 margin-auto">
                    <button class="btn btn-primary primary-button" type="button" data-bs-toggle="collapse"
                            href="#collapseExample"
                            role="button" aria-expanded="false" aria-controls="collapseExample">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-funnel"
                             viewBox="0 0 16 16">
                            <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
                        </svg>&nbsp;Filtres
                    </button>
                </div>
                <div class="col-4">
                    <h4 class="center nav-color margin-top-25"><strong>LES SORTIES</strong></h4>
                </div>
                <div class="col-4 margin-auto" >
                    <button class="btn btn-primary primary-button margin-left-auto position-relative display-block" onclick="window.location = '{{ path('sortie_create')  }}'" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                        &nbsp;Créer
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>

    <div class="row">
        <div class="col"></div>

        <div class="col-10">
            <div class="collapse" id="collapseExample">
                <div class="card border-color-first-color border-radius-20">
                    {{ form_start(form) }}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row g-2">
                                    <div class="col-md">
                                        <div class="form-floating mb-3">
                                            {{ form_widget(form.idCampus) }}
                                            <label for="floatingSelectGrid">Campus :</label>
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingInputGrid"
                                                   placeholder="" value="" name="nomsortie">
                                            <label for="floatingInputGrid">Le nom de la sortie contient :</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-2">
                                    <div class="col-md">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Entre</span>
                                            <input type="date" class="form-control" name="datedebut"placeholder="{{"now"|date("Y-m-d","Europe/Paris") }}"
                                                   value="{{"now"|date("Y-m-d","Europe/Paris") }}" aria-label="">
                                        </div>
                                    </div>
                                    <div class="col-md">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Et</span>
                                            <input type="date" class="form-control" name="datefin"placeholder="{{"now"|date_modify("+7 day")|date("Y-m-d","Europe/Paris") }}" value="{{"now"|date_modify("+7 day")|date("Y-m-d","Europe/Paris") }}" aria-label="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-1">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                               id="flexSwitchCheckDefault" name="condition1">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Sorties dont je
                                            suis
                                            l'organisateur/trice</label>
                                    </div>
                                </div>
                                <div class="mb-1">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                               id="flexSwitchCheckDefault" name="condition2">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Sorties auxquelles
                                            je
                                            suis
                                            inscrit/e</label>
                                    </div>
                                </div>
                                <div class="mb-1">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                               id="flexSwitchCheckDefault" name="condition3">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Sortie auxquelles
                                            je ne
                                            suis pas inscrit/e</label>
                                    </div>
                                </div>
                                <div class="mb-3">

                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                               id="flexSwitchCheckDefault" name="condition4">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Sorties
                                            passées</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary primary-button" type="submit">Rechercher</button>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
            <br/>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                {% for sortie in sorties %}
                <div class="col">
                    <div class="card border-color-first-color border-radius-21" onclick="window.location.href = '{{ path('sortie_details',{'id':sortie.id}) }}'" href="{{ path('sortie_details',{'id':sortie.id}) }}">
                        <img src="{{ asset('img/fond/fond.jpg') }}" class="card-img-top border-radius-20 border-color-first-color" alt="...">
                        <div class="card-body-accueil">
                            <div class="margin-10">
                                <p class="center nav-color margin-bottom-10"><strong>{{ sortie.nom }}</strong></p>
                                <div class="row">
                                    <div  class="col">
                                        <p class="center margin-bottom-0"><span class="badge text-bg-primary background-color-first-color">{{ sortie.idEtat.libelle }}</span></p>
                                    </div>
                                    <div  class="col">
                                        <p class="center nav-color margin-bottom-0">Places : {{ sortie.getIdParticipant.count}}/{{ sortie.nbInscriptionsMax }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col"></div>
    </div>

{% endblock %}
