{% extends 'base.html.twig' %}

{% block title %}Courir.com | Mon profil{% endblock %}
{% block header %}
    {% include 'module/navbar/navbar.html.twig' %}
{% endblock %}
{% block body %}
    <section>
        <h4 class="center nav-color margin-top-25"><strong>MON PROFIL</strong></h4>
        <div class="row">
            <div class="col">
            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card mb-4 border-color-first-color border-radius-20">
                            <div class="card-body text-center">
                                <img src="{{ asset('img/avatar/'~participant.photoParticipant) }}" alt="avatar"
                                     class="rounded-circle img-fluid" style="width: 150px;">
                                <h5 class="my-3">{{ participant.nom }} {{ participant.prenom }}</h5>
                                <div class="d-flex justify-content-center mb-2 centrer">

                                    {% if participant.roles[0] == 'ADMIN' %}
                                        <button type="button" onclick="window.location.href = '{{ path('participant_list') }}';" class="btn btn-danger centrer">Gérer les utilisateurs</button>
                                    {% endif %}

                                    <button type="button" onclick="window.location.href = '{{ path('participant_edit', {'id':app.user.id}) }}';" class="btn btn-primary primary-button centrer">Modifier mon profil</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card mb-4 border-color-first-color border-radius-20">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Pseudo</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{ participant.pseudo }}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Prénom et nom</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{ participant.prenom }} {{ participant.nom }}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{ participant.email}}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Téléphone</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{ participant.telephone }}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Campus</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{ participant.getIdCampus.nom }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
            </div>
        </div>
    </section>
{% endblock %}
