{% extends 'base.html.twig' %}

{% block title %}Hello ParticipantController!{% endblock %}
{% block header %}
    {% include 'module/navbar/navbar.html.twig' %}
{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">photo</th>
            <th scope="col">nom</th>
            <th scope="col">prenom</th>
            <th scope="col">pseudo</th>
            <th scope="col">email</th>
            {% if (app.user.roles[0]=='ADMIN') %}
            <th scope="col">Administrateur</th>
            <th scope="col">Etat</th>
            <th scope="col">Supprimer</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
        <tr class="table-primary">
            <td><img src="{{ asset('img/avatar/'~participant.photoParticipant) }}" alt="mdo" width="32" height="32"
                                           class="rounded-circle"></td>
            <th scope="row">{{ participant.nom }}</th>
            <td>{{ participant.prenom }}</td>
            <td>{{ participant.pseudo }}</td>
            <td>{{ participant.email }}</td>

            {% if (app.user.roles[0]=='ADMIN') %}
                {% if(participant.id!=app.user.id) %}
                <td>
                {% if(participant.isAdministrateur) %}
                    <a href="{{ path('participant_administrateur',{'id':participant.id,'admin':0})}}">Retirer l'administration</a>
                {% else %}
                    <a href="{{ path('participant_administrateur',{'id':participant.id,'admin':1})}}">Ajouter à l'administration</a>
                {% endif %}
            </td>
                <td>
                    {% if(participant.isActif) %}
                        <a href="{{ path('participant_activation',{'id':participant.id,'active':0})}}">Désactiver le compte</a>
                    {% else %}
                        <a href="{{ path('participant_activation',{'id':participant.id,'active':1})}}">Activer le compte</a>
                    {% endif %}
                </td>
                <td>
                        <a href="{{ path('participant_supprimer',{'id':participant.id})}}">Supprimer le compte</a>
                </td>
            {% endif %}
            {% endif %}

        </tr>
        {% endfor %}
        </tbody>
    </table>




</div>
{% endblock %}
