{% extends 'base.html.twig' %}

{% block title %}Sortir.com | Campus{% endblock %}
{% block header %}
    {% include 'module/navbar/navbar.html.twig' %}
{% endblock %}

{% block body %}

    <h4 class="center nav-color margin-top-25"><strong>CAMPUS</strong></h4>

    <div class="row">
        <div class="col">
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card mb-4 border-color-first-color border-radius-20">
                        <div class="card-body">
                            <h3 class="centrer-texte">Import CSV</h3>
                            <br>
                            {% if app.user.roles[0]=="ADMIN" %}
                                {{ form_start(form1) }}
                            {% endif %}
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col" class="centrer-texte">Nom du campus</th>
                                    {% if app.user.roles[0]=="ADMIN" %}
                                        <th scope="col" class="centrer-texte">Importer un CSV</th>
                                        <th scope="col" class="centrer-texte">Gérer</th>
                                    {% endif %}

                                </tr>
                                </thead>
                                {% set compteur=0 %}
                                <tbody>{% for campus in campuslist %}
                                    {% set compteur=compteur+1 %}
                                    <tr>
                                    <td class="centrer-texte">
                                        {{ campus.nom }}
                                    </td>
                                    {% if app.user.roles[0]=="ADMIN" %}
                                        <td class="centrer-texte">{{ form_widget(attribute(form1,'csv'~compteur)) }}</td>
                                        {#                                            <input class="form-control" type="file" #}
                                        {#                                                                         name="csv{{ compteur }}" #}
                                        {#                                                                         accept=".csv"> #}


                                        <td class="centrer-texte">
                                            <button role="button" class="btn btn-warning" type="button"
                                                    onclick="window.location.href = '{{ path('campus_edit', {'id': campus.id }) }}'"
                                                    ;>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                     fill="currentColor" class="bi bi-pencil-square"
                                                     viewBox="0 0 16 16">
                                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                    <path fill-rule="evenodd"
                                                          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                                </svg>
                                            </button>
                                            &nbsp;
                                            <button role="button" class="btn btn-danger" type="button"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#campusdelete{{ campus.id }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                     fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                    <path fill-rule="evenodd"
                                                          d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                </svg>
                                            </button>
                                        </td>

                                    {% endif %}
                                    <div class="modal fade" id="campusdelete{{ campus.id }}" tabindex="-1"
                                         aria-labelledby="campusdelete" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Supprimer le
                                                        campus : {{ campus.nom }}</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    Voulez-vous supprimer le campus suivant :
                                                    <strong>{{ campus.nom }}</strong>
                                                    <br>
                                                    <strong style="color: red">/!\ Vous allez supprimer l'ensemble des
                                                        utilisateurs et des sorties liées au campus /!\</strong>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Fermer
                                                    </button>
                                                    <button type="button" class="btn btn-danger"
                                                            onclick="window.location.href = '{{ path('campus_delete', {'id': campus.id }) }}';">
                                                        Supprimer le campus
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="campusedit{{ campus.id }}" tabindex="-1"
                                         aria-labelledby="campusedit" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modifier le
                                                        campus : {{ campus.nom }}</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Fermer
                                                    </button>
                                                    <button type="button" class="btn btn-danger"
                                                            onclick="window.location.href = '{{ path('campus_delete', {'id': campus.id }) }}';">
                                                        Supprimer le campus
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </tr>{% endfor %}
                                </tbody>
                            </table>
                            <div class="mb-2 centrer">
                                {% if app.user.roles[0]=="ADMIN" %}
                                    {{ form_widget(form1.importer) }}
                                    {{ form_end(form1) }}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-4 border-color-first-color border-radius-20">
                        <div class="card-body">
                            <h3 class="centrer-texte">Gérer les campus</h3>
                            <br>
                            <div class="mb-2">
                                <button class="btn btn-primary primary-button centrer" type="button"
                                        data-bs-toggle="modal" data-bs-target="#exampleModal">Ajouter un campus
                                </button>
                            </div>
                        </div>
                    </div>
                    {% if errors!="Ajout échoué pour les participants : " %}
                        <div class="card mb-4 border-color-first-color border-radius-20">
                            <div class="card-body">
                                <h3 class="centrer-texte">Les erreurs</h3>
                                <br>
                                <div class="mb-4">
                                    <textarea class="form-control" rows="15" disabled>{{ errors }}</textarea>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>

    <!-- Modal Créer un campus -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                {{ form_start(form2) }}

                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Créer un campus</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {{ form_label(form2.nom) }}
                    {{ form_widget(form2.nom) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    {{ form_widget(form2.confirmer) }}
                </div>
                {{ form_end(form2) }}
            </div>
        </div>
    </div>
{% endblock %}