{% extends 'base.html.twig' %}

{% block title %}Sortir.com | {{ sortie.nom }}{% endblock %}
{% block header %}
    {% include 'module/navbar/navbar.html.twig' %}
{% endblock %}

{% block body %}
    <section>
        <h4 class="center nav-color margin-top-25"><strong>{{ sortie.nom }}</strong></h4>
        <div class="row">
            <div class="col">
            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card mb-4 border-color-first-color border-radius-20">
                            <div class="card-body text-center">
                                <h2>Organisateur</h2>
                                <br >
                                <img src="{{ asset('img/avatar/'~app.user.photoParticipant) }}" alt="avatar"
                                     class="rounded-circle img-fluid" style="width: 150px;">
                                <h5 class="my-3">{{ sortie.idOrganisateur.prenom }} {{ sortie.idOrganisateur.nom }}</h5>
                                <div class="d-flex justify-content-center mb-2 centrer">

                                    <button type="button" onclick="window.location.href = '{{ path('participant_details', {'id':sortie.idOrganisateur.id}) }}';" class="btn btn-primary primary-button centrer">Afficher son profil</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card mb-4 border-color-first-color border-radius-20">
                            <div class="card-body">
                                <h2 class="centrer-texte">Informations sortie</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
            </div>
        </div>
    </section>


    <div class="example-wrapper">
        Nom de la Sortie : {{ sortie.nom }}
        <br>
        Date heure début : {{ sortie.dateHeureDebut|date('Y-m-d H:i:s') }}
        <br>
        Durée en minutes : {{ sortie.duree }}
        <br>
        Date limite d'inscription : {{ sortie.dateLimiteInscription|date('Y-m-d H:i:s') }}
        <br>
        Nombre incriptions max : {{ sortie.nbInscriptionsMax }}
        <br>
        Informations : {{ sortie.infosSortie }}
        <br>
        Photo de la sortie : {{ sortie.photoSortie }}
        <br>
        Etat : {{ sortie.idEtat.libelle }}
        <br>
        Organisateur : {{ sortie.idOrganisateur.nom }}
        {{ sortie.idOrganisateur.prenom }}
        <br>
        Site organisateur : {{ sortie.idSiteOrganisateur.nom }}
        <br>
        Lieu : {{ sortie.idLieu.nom }} ( {{ sortie.idLieu.rue }} {{ sortie.idLieu.idVille.codePostal }} {{ sortie.idLieu.idVille.nom }} )
    </div>
{% endblock %}
