{% extends 'base.html.twig' %}

{% block title %}Sortir.com | {{ sortie.nom }}{% endblock %}
{% block header %}
    {% include 'module/navbar/navbar.html.twig' %}
{% endblock %}

{% block body %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.css"
          integrity="sha512-v5YmWLm8KqAAmg5808pETiccEohtt8rPVMGQ1jA6jqkWVydV5Cuz3nJ9fQ7ittSxvuqsvI9RSGfVoKPaAJZ/AQ=="
          crossorigin="">

    <section>

        <h4 class="center nav-color margin-top-25"><strong>{{ sortie.nom }}
                <br>
                <span class="badge rounded-pill text-bg-success background-color-first-color">{{ sortie.idEtat.libelle }}</span>
                <span class="badge rounded-pill text-bg-success background-color-first-color">{{ sortie.getIdParticipant.count }}/{{ sortie.nbInscriptionsMax }}</span>
                <span class="badge rounded-pill text-bg-success background-color-first-color">{{ sortie.duree }} min</span>

            </strong></h4>
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card mb-4 border-color-first-color border-radius-20"
                             style="height: 95% !important;">
                            <div class="card-body text-center">
                                <h3 class="margin-bottom-10">Carte</h3>
                                <input type="hidden" id="lat" name="lat" value="{{ sortie.IdLieu.latitude }}"/>
                                <input type="hidden" id="lng" name="lng" value="{{ sortie.IdLieu.longitude }}"/>
                                <div id="carte1" class="img-fluid border-radius-20"
                                     style="height: 400px; width: 800px; margin-bottom: 10px;"></div>

                                <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
                                        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
                                        crossorigin=""></script>

                                <script src="https://unpkg.com/esri-leaflet@2.2.3/dist/esri-leaflet.js"
                                        integrity="sha512-YZ6b5bXRVwipfqul5krehD9qlbJzc6KOGXYsDjU9HHXW2gK57xmWl2gU6nAegiErAqFXhygKIsWPKbjLPXVb2g=="
                                        crossorigin=""></script>

                                <script src="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.js"
                                        integrity="sha512-zdT4Pc2tIrc6uoYly2Wp8jh6EPEWaveqqD3sT0lf5yei19BC1WulGuh5CesB0ldBKZieKGD7Qyf/G0jdSe016A=="
                                        crossorigin=""></script>


                                <script type="text/javascript">
                                    window.onload = function () {
                                        var latitude = document.getElementById("lat").value;
                                        var longitude = document.getElementById("lng").value;
                                        var latlong = L.latLng(latitude, longitude);
                                        var marker = new L.Marker([latitude, longitude]);
                                        var geocodeService = L.esri.Geocoding.geocodeService();
                                        geocodeService.reverse().latlng(latlong).run(function (error, result) {
                                            marker.addTo(mymap).bindPopup(result.address.Match_addr).openPopup();
                                            if (error) {
                                                return;
                                            }
                                            markersss = marker;
                                            document.getElementById("lat").value = result.latlng.lat;
                                            document.getElementById("lng").value = result.latlng.lng;
                                        });
                                    };
                                    var markersss;
                                    var adresse = document.getElementById("adresse");
                                    var centerview = [46.71109, 1.7191036];
                                    var mymap = L.map('carte1').setView([centerview[0], centerview[1]], 6);
                                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(mymap);
                                    var layerGroup = L.layerGroup().addTo(mymap);
                                    var geocodeService = L.esri.Geocoding.geocodeService();
                                </script>


                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card mb-4 border-color-first-color border-radius-20"
                             style="height: 95% !important;">
                            <div class="card-body" style="margin-bottom: 10px;">
                                <h3 class="centrer-texte margin-bottom-10">Informations sortie</h3>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <div class="mb-2">
                                            <img src="{{ asset('img/sorties/'~sortie.photoSortie) }}" width="400"
                                                 class="img-fluid centrer border-radius-20">
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="affichage-1">
                                            <div class="mb-2">
                                                <label class="form-label">Nom de la sortie</label>
                                                <input class="form-control" value="{{ sortie.nom }}" disabled>
                                            </div>

                                            <div class="mb-2">
                                                <label class="form-label">Description</label>
                                                <textarea class="form-control" rows="5"
                                                          disabled>{{ sortie.infosSortie }}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3">
                                    <div class="col-sm-5">
                                        <div class="mb-2">
                                            <label class="form-label">Date du début de la sortie</label>
                                            <input class="form-control" type="datetime-local"
                                                   value="{{ sortie.dateHeureDebut|date('Y-m-d H:i:s') }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mb-2">
                                            <label class="form-label">Date limite d'inscription</label>
                                            <input class="form-control" type="datetime-local"
                                                   value="{{ sortie.dateLimiteInscription|date('Y-m-d H:i:s') }}"
                                                   disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="mb-2">
                                            <label class="form-label">Durée</label>
                                            <input class="form-control" value="{{ sortie.duree }} minutes" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3">
                                    <div class="col-sm-5">
                                        <div class="">
                                            <label class="form-label">Site organisateur</label>
                                            <input class="form-control" type="text"
                                                   value="{{ sortie.idSiteOrganisateur.nom }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="">
                                            <label class="form-label">Lieu</label>
                                            <input class="form-control" type="text"
                                                   value='{{ sortie.idLieu.nom }} : ({{ sortie.idLieu.rue }} {{ sortie.idLieu.idVille.codePostal }} {{ sortie.idLieu.idVille.nom }})'
                                                   disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-1">
            </div>
        </div>

        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10">
                <div class="row">

                    <div class="col-lg-3">
                        <div class="card mb-4 border-color-first-color border-radius-20"
                             style="height: 95% !important;">
                            <div class="card-body">
                                <h3 class="centrer-texte margin-bottom-10">Organisateur</h3>
                                <div class="row">
                                    <div class="col-4">
                                        <img src="{{ asset('img/avatar/'~sortie.idOrganisateur.photoParticipant) }}"
                                             width="40px" class="rounded-circle centrer" alt="photo de profil">
                                    </div>
                                    <div class="col-8 centrage-vertical">
                                        <p class="centrage-vertical">{{ sortie.idOrganisateur.nom }} {{ sortie.idOrganisateur.prenom }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="card mb-4 border-color-first-color border-radius-20"
                             style="height: 95% !important;">
                            <div class="card-body">
                                <h3 class="centrer-texte margin-bottom-10">Inscription</h3>

                                {% if sortie.getIdParticipant is not empty %}

                                    {% if sortie.isIdInParticipantsList(app.user.id) %}
                                        <button class="btn btn-primary primary-button centrer"
                                                onclick="window.location.href = '{{ path('sortie_inscription',{'id':sortie.id}) }}'">
                                            Je me désinscrit
                                        </button>
                                    {% else %}
                                        <button class="btn btn-primary primary-button centrer"
                                                onclick="window.location.href = '{{ path('sortie_inscription',{'id':sortie.id}) }}'">
                                            Je m'inscrit
                                        </button>
                                    {% endif %}

                                    {# {% set break = false %}
                                    {% for participant in sortie.getIdParticipant if not break %}

                                        {% if app.user.id == participant.id %}
                                            {% set break = true %}
                                            <button class="btn btn-primary primary-button centrer"
                                                    onclick="window.location.href = '{{ path('sortie_inscription',{'id':sortie.id}) }}'">
                                                Je me désinscrit
                                            </button>
                                        {% endif %}
                                        {% if app.user.id != participant.id  %}
                                            <button name="" class="btn btn-primary primary-button centrer"
                                                    onclick="window.location.href = '{{ path('sortie_inscription',{'id':sortie.id}) }}'">
                                                Je m'inscrit
                                            </button>
                                        {% endif %}

                                    {% endfor %}
                                    #}
                                {% else %}

                                    <button name="" class="btn btn-primary primary-button centrer"
                                            onclick="window.location.href = '{{ path('sortie_inscription',{'id':sortie.id}) }}'">
                                        Je m'inscrit
                                    </button>

                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card mb-4 border-color-first-color border-radius-20"
                             style="height: 95% !important;">
                            <div class="card-body">
                                <h3 class="centrer-texte margin-bottom-10">Utilisateurs</h3>

                                {% if sortie.getIdParticipant.count == 0 %}
                                    <p class="centrer-texte">Aucun utilisateur n'est inscrit !</p>
                                {% else %}
                                    <div class="row">
                                        {% for participant in sortie.getIdParticipant %}
                                            <div class="col-2">
                                                <p class="centrer-texte">{{ participant.prenom }} {{ participant.nom }}</p>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-1">
            </div>
        </div>

    </section>
{% endblock %}
