{% extends 'base.html.twig' %}

{% block title %}Sortir.com | {{ sortie.nom }}{% endblock %}
{% block header %}
    {% include 'module/navbar/navbar.html.twig' %}
{% endblock %}

{% block body %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.css"
          integrity="sha512-v5YmWLm8KqAAmg5808pETiccEohtt8rPVMGQ1jA6jqkWVydV5Cuz3nJ9fQ7ittSxvuqsvI9RSGfVoKPaAJZ/AQ=="
          crossorigin="">

    <section>

        <h4 class="center nav-color margin-top-25"><strong>{{ sortie.nom }}
                <br>
                <span class="badge rounded-pill text-bg-success background-color-first-color">{{ sortie.idEtat.libelle }}</span>
                <span class="badge rounded-pill text-bg-success background-color-first-color">{{ sortie.getIdParticipant.count }}/{{ sortie.nbInscriptionsMax }}</span>
                <span class="badge rounded-pill text-bg-success background-color-first-color">{{ sortie.duree }} min</span>

            </strong></h4>
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card mb-4 border-color-first-color border-radius-20"
                             style="height: 95% !important;">
                            <div class="card-body text-center">
                                <h3 class="margin-bottom-10">Carte</h3>
                                <input type="hidden" id="lat" name="lat" value="{{ sortie.IdLieu.latitude }}"/>
                                <input type="hidden" id="lng" name="lng" value="{{ sortie.IdLieu.longitude }}"/>
                                <div id="carte1" class="img-fluid border-radius-20"
                                     style="height: 355px; width: 800px; margin-bottom: 10px;"></div>

                                <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
                                        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
                                        crossorigin=""></script>
                                <script src="https://unpkg.com/esri-leaflet@2.2.3/dist/esri-leaflet.js"
                                        integrity="sha512-YZ6b5bXRVwipfqul5krehD9qlbJzc6KOGXYsDjU9HHXW2gK57xmWl2gU6nAegiErAqFXhygKIsWPKbjLPXVb2g=="
                                        crossorigin=""></script>
                                <script src="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.js"
                                        integrity="sha512-zdT4Pc2tIrc6uoYly2Wp8jh6EPEWaveqqD3sT0lf5yei19BC1WulGuh5CesB0ldBKZieKGD7Qyf/G0jdSe016A=="
                                        crossorigin=""></script>
                                <script type="text/javascript">
                                    window.onload = function () {
                                        var latitude = document.getElementById("lat").value;
                                        var longitude = document.getElementById("lng").value;
                                        var latlong = L.latLng(latitude, longitude);
                                        var marker = new L.Marker([latitude, longitude]);
                                        var geocodeService = L.esri.Geocoding.geocodeService();
                                        geocodeService.reverse().latlng(latlong).run(function (error, result) {
                                            marker.addTo(mymap).bindPopup(result.address.Match_addr).openPopup();
                                            if (error) {
                                                return;
                                            }
                                            markersss = marker;
                                            document.getElementById("lat").value = result.latlng.lat;
                                            document.getElementById("lng").value = result.latlng.lng;
                                        });
                                    };
                                    var markersss;
                                    var adresse = document.getElementById("adresse");
                                    var centerview = [46.71109, 1.7191036];
                                    var mymap = L.map('carte1').setView([centerview[0], centerview[1]], 6);
                                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(mymap);
                                    var layerGroup = L.layerGroup().addTo(mymap);
                                    var geocodeService = L.esri.Geocoding.geocodeService();
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card mb-4 border-color-first-color border-radius-20"
                             style="height: 95% !important;">
                            <div class="card-body">
                                <h3 class="centrer-texte margin-bottom-10">Informations sortie</h3>
                                <div class="row">
                                    <div class="col-sm-5"
                                         style="margin-top: auto !important;margin-bottom: auto !important;">
                                        <div class="mb-2">
                                            <img src="{{ asset('img/sorties/'~sortie.photoSortie) }}" width="400"
                                                 height="272"
                                                 class="img-fluid centrer border-radius-20 image-sortie-secondaire">
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="affichage-1">
                                            <div class="mb-2">
                                                <label class="form-label">Nom de la sortie</label>
                                                <input class="form-control" value="{{ sortie.nom }}" disabled>
                                            </div>

                                            <div class="mb-2">
                                                <label class="form-label">Description</label>
                                                <textarea class="form-control" rows="3"
                                                          disabled>{{ sortie.infosSortie }}</textarea>
                                            </div>

                                            <div class="row">
                                                <div class="col">
                                                    <div class="mb-2">
                                                        <label class="form-label">Date de début</label>
                                                        <input class="form-control" type="datetime-local"
                                                               value="{{ sortie.dateHeureDebut|date('Y-m-d H:i:s') }}"
                                                               disabled>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="mb-2">
                                                        <label class="form-label">Date limite d'inscription</label>
                                                        <input class="form-control"
                                                               value="{{ sortie.dateLimiteInscription|date('Y-m-d H:i:s') }}"
                                                               type="datetime-local"
                                                               disabled>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3">
                                    <div class="col-sm-5">
                                        <div class="mb-2">
                                            <label class="form-label">Site organisateur</label>
                                            <input class="form-control" type="text"
                                                   value="{{ sortie.idSiteOrganisateur.nom }}" disabled>
                                        </div>
                                    </div>
                                    <div class="col-sm-7" style="margin-bottom: 20px">
                                        <div class="">
                                            <label class="form-label">Lieu</label>
                                            <input class="form-control" type="text"
                                                   value='{{ sortie.idLieu.nom }} : ({{ sortie.idLieu.rue }} {{ sortie.idLieu.idVille.codePostal }} {{ sortie.idLieu.idVille.nom }})'
                                                   disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1">
            </div>
        </div>
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card mb-4 border-color-first-color border-radius-20"
                             style="height: 95% !important;">
                            <div class="card-body">
                                <h3 class="centrer-texte margin-bottom-10">Organisateur</h3>
                                <div class="row">
                                    <div class="col-4">
                                        <img src="{{ asset('img/avatar/'~sortie.idOrganisateur.photoParticipant) }}"
                                             class="rounded-circle centrer photo-profil-sortie" alt="photo de profil">
                                    </div>
                                    <div class="col-8 centrage-vertical">
                                        <p class="centrage-vertical">{{ sortie.idOrganisateur.nom }} {{ sortie.idOrganisateur.prenom }}</p>
                                    </div>
                                </div>
                                {% if app.user.roles[0] == "ADMIN" %}
                                    {% if sortie.idOrganisateur.id == app.user.id %}
                                        <br>
                                        <div class="row">
                                            <div class="col-sm centrer-texte">
                                                <div class="mb-2">
                                                    <button class="btn btn-warning btn-sm"
                                                            onclick="window.location.href = '{{ path('sortie_modifier',{'id':sortie.id}) }}'">
                                                        Modifier la sortie
                                                    </button>
                                                </div>
                                            </div>
                                            {% if sortie.idEtat.libelle == "Ouverte" %}
                                                <div class="col-sm centrer-texte">
                                                    <div class="mb-2">
                                                        <button class="btn btn-danger btn-sm"
                                                                data-bs-target="#exampleModalannuler"
                                                                data-bs-toggle="modal">Annuler la sortie
                                                        </button>
                                                    </div>
                                                </div>
                                            {% elseif sortie.idEtat.libelle == "Annulée" %}
                                                <div class="col-sm centrer-texte">
                                                    <div class="mb-2">
                                                        <button class="btn btn-danger btn-sm"
                                                                data-bs-target="#exampleModalactiver"
                                                                data-bs-toggle="modal">Activer la sortie
                                                        </button>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card mb-4 border-color-first-color border-radius-20"
                             style="height: 95% !important;">
                            <div class="card-body">
                                <h3 class="centrer-texte margin-bottom-10">Inscription</h3>
                                {% if inscription == true %}

                                    {% if sortie.idEtat.libelle == "Ouverte" %}
                                        {% if sortie.getIdParticipant is not empty %}
                                            {% if sortie.isIdInParticipantsList(app.user.id) %}
                                                <button type="button"
                                                        class="btn btn-primary primary-button centrer btn-sm"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#exampleModaldesinscrire">
                                                    Je me désinscrit
                                                </button>
                                            {% else %}
                                                <button class="btn btn-primary primary-button centrer btn-sm"
                                                        onclick="window.location.href = '{{ path('sortie_inscription',{'id':sortie.id}) }}'">
                                                    Je m'inscrit
                                                </button>
                                            {% endif %}
                                        {% else %}
                                            <button name="" class="btn btn-primary primary-button centrer btn-sm"
                                                    onclick="window.location.href = '{{ path('sortie_inscription',{'id':sortie.id}) }}'">
                                                Je m'inscrit
                                            </button>
                                        {% endif %}
                                    {% else %}
                                        <button name="" class="btn btn-primary primary-button centrer btn-sm" disabled>
                                            {{ sortie.idEtat.libelle }}
                                        </button>
                                    {% endif %}
                                {% else %}
                                    <button name="" class="btn btn-primary primary-button centrer btn-sm" disabled>
                                        Date limite dépassé
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card mb-4 border-color-first-color border-radius-20"
                             style="height: 95% !important;">
                            <div class="card-body">
                                <h3 class="centrer-texte margin-bottom-10">Utilisateurs</h3>
                                {% if sortie.getIdParticipant.count == 0 %}
                                    {% if sortie.idEtat.libelle == "Annulée" %}
                                        <p class="centrer-texte">La sortie est annulée</p>
                                    {% else %}
                                        <p class="centrer-texte">Aucun utilisateur n'est inscrit !</p>
                                    {% endif %}

                                {% else %}
                                    <div class="row">
                                        {% for participant in sortie.getIdParticipant %}
                                            <div class="col-lg-3">
                                                <div class="mb-2 centrer-texte">
                                                    <button type="button" class="btn btn-primary primary-button btn-sm"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#exampleModal{{ participant.id }}">
                                                        {{ participant.prenom }} {{ participant.nom }}
                                                    </button>
                                                </div>
                                            </div>
                                            <!-- Modal utilisateur -->
                                            <div class="modal fade" id="exampleModal{{ participant.id }}" tabindex="-1"
                                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5 centrer-texte"
                                                                id="exampleModalLabel">{{ participant.prenom }} {{ participant.nom }}</h1>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="card border-color-first-color border-radius-20">
                                                                <div class="card-body">
                                                                    <img src="{{ asset('img/avatar/'~participant.photoParticipant) }}"
                                                                         alt="avatar"
                                                                         class="rounded-circle img-fluid centrer photo-profil">
                                                                    <br>
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <p class="mb-0">Pseudo</p>
                                                                        </div>
                                                                        <div class="col-sm-9">
                                                                            <p class="text-muted mb-0">{{ participant.pseudo }}</p>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <p class="mb-0">Prénom et nom</p>
                                                                        </div>
                                                                        <div class="col-sm-9">
                                                                            <p class="text-muted mb-0">{{ participant.prenom }} {{ participant.nom }}</p>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <p class="mb-0">Email</p>
                                                                        </div>
                                                                        <div class="col-sm-9">
                                                                            <p class="text-muted mb-0">{{ participant.email }}</p>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <p class="mb-0">Téléphone</p>
                                                                        </div>
                                                                        <div class="col-sm-9">
                                                                            <p class="text-muted mb-0">{{ participant.telephone }}</p>
                                                                        </div>
                                                                    </div>
                                                                    <hr>
                                                                    <div class="row">
                                                                        <div class="col-sm-3">
                                                                            <p class="mb-0">Campus</p>
                                                                        </div>
                                                                        <div class="col-sm-9">
                                                                            <p class="text-muted mb-0">{{ participant.getIdCampus.nom }}</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Fermer
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-1">
            </div>
        </div>
    </section>

    <!-- Modal se désinscrire -->
    <div class="modal fade" id="exampleModaldesinscrire" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Je me désinscrit !</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Voulez-vous vous désinscrire de la sortie suivante :
                    <strong>{{ sortie.nom }}</strong> ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-danger"
                            onclick="window.location.href = '{{ path('sortie_inscription',{'id':sortie.id}) }}'">Me
                        désinscrire
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal annuler sortie -->
    <div class="modal fade" id="exampleModalannuler" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">J'annule la sortie !</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Voulez-vous annuler la sortie suivante :
                    <strong>{{ sortie.nom }}</strong> ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-danger"
                            onclick="window.location.href = '{{ path('sortie_annuler',{'id':sortie.id}) }}'">Annuler la
                        sortie
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal activer sortie -->
    <div class="modal fade" id="exampleModalactiver" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Rouvrir la sortie !</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Voulez-vous rouvrir la sortie suivante :
                    <strong>{{ sortie.nom }}</strong> ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-danger"
                            onclick="window.location.href = '{{ path('sortie_annuler',{'id':sortie.id}) }}'">Rouvrir la
                        sortie
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-bottom: 50px"></div>

{% endblock %}

{% block footer %}
    {% include 'module/footer/footer.html.twig' %}
{% endblock %}

